.addFriend-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: auto;
  padding: 0px 50px 25px 50px;
  left: 0;
  right: 0;
  width: 30%;
  min-width: 500px;
  background-color: rgba(42, 47, 50);
  box-shadow: -4px 4px 10px #000000;
  border-radius: 15px;
}

.addFriend-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addFriend-title {
  width: 100%;
  color: #ffffff;
  text-align: center;
}

.addFriend-form-input {
  padding: 10px 7px 10px 7px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.addFriend-form-label {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 5px;
}

.addFriend-form-actions {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: flex-end;
}

.addFriend-buttons {
  padding: 12px 17px 12px 17px;
  margin-bottom: 10px;
  margin-left: 20px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.sendButton {
  background-color: #077b70;
  color: #ffffff;
}

.sendButton:hover {
  background-color: #054942;
}

.cancelButton:hover {
  background-color: #d1d1d1;
}

.error-text {
  display: inline;
  color: #e6332a;
  font-weight: 600;
}

.error-icon {
  width: 20px;
  vertical-align: middle;
}

.success-text {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

.success-icon {
  width: 30px;
  align-self: center;
}
