.chatbox-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  min-width: 450px;
}

.chatbox-topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 65px;
  background-color: #2a2f32;
  align-items: center;
  border-left: 1px #fff solid;
}

.chatbox-userDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chatbox-userAvatar-wrapper {
  margin-left: 15px;
}

.chatbox-userAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chatbox-userName-container {
  display: flex;
  flex-direction: column;
}

.chatbox-userName {
  color: #ffffff;
  font-size: 18px;
}

.chatbox-setttings-container {
  margin-right: 15px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatbox-setttings-container:hover {
  background-color: rgba(256, 256, 256, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.chatbox-settings-icon {
  width: 20px;
}

.chatbox-messages-container {
  height: 100%;
  background-color: #0d1418;
  overflow-y: scroll;
}

.comingMessage-box {
  display: flex;
  justify-content: flex-start;
}

.comingMessage-container {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  border-radius: 15px;
  background-color: #373f44;
  margin: 15px 30px 15px 30px;
}

.sendingMessage-box {
  display: flex;
  justify-content: flex-end;
}

.sendingMessage-container {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  border-radius: 15px;
  background-color: #077b70;
  margin: 15px 30px 15px 30px;
}

.text-container {
  text-align: left;
  padding: 8px 30px;
  max-width: 600px !important;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}
.message-text {
  margin-right: 20px;
  color: #ffffff;
  font-size: 16px;
}

.message-time-container {
  display: flex;
  padding: 0px 20px 10px 0px;
  flex-direction: row;
  justify-content: flex-end;
}

.message-time {
  color: #b2b9be;
  font-size: 11px;
}

.chatbox-input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #2a2f32;
  width: 100%;
  bottom: 0px;
  height: 70px;
}

.chatbox-input {
  width: 70%;
  padding: 15px 5px;
  border-radius: 20px;
  background-color: #44494d;
  border: none !important;
  margin-left: 40px;
}
