.friendItem-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5px 15px;
  cursor: pointer;
}

.friendItem-container:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.friend-info-wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 40px;
  margin-left: 10px;
}

.friend-action-wrapper {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.friend-avatar {
  width: 40px;
  border-radius: 50%;
}

.friend-name {
  color: #ffffff;
  font-weight: 600;
}

.friend-id {
  color: #878787;
  font-size: 12px;
}

.friend-divider {
  width: 100%;
  border: 0;
  height: 1px;
  background-color: #3f3f3f;
  margin: 5px auto 5px auto;
}

.delete-button {
  cursor: pointer;
  margin-right: 10px;
  margin-right: 25px;
}

.delete-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.delete-icon {
  width: 18px;
}

.hidden {
  display: none;
}

.friend-detail-submenu {
  flex-direction: column;
  min-width: 75px;
  position: relative;
  z-index: 999;
  left: 10px;
}

.deleteFriend-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #2a2f32;
  box-shadow: -4px 4px 10px #000000;
  border-top: 10px solid #077b70;
  border-radius: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 25px 40px 25px 40px;
}

.deleteFriend-title {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 35px;
}

.deleteFriend-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.confirmDelete-button {
  padding: 10px 30px 10px 30px;
  color: #ffffff;
  background-color: #e5222b;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.confirmDelete-button:hover {
  background-color: #911319;
}

.cancelDelete-button {
  padding: 10px 30px 10px 30px;
  color: #ffffff;
  background-color: #878787;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.cancelDelete-button:hover {
  background-color: #666565;
}
