.userDetail-container {
  display: flex;
  flex-direction: column;
  background-color: #2a2f32;
  height: 100px;
  overflow: hidden;
  padding: 10px;
}

.userDetail-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.detail-icon-wrapper {
  display: flex;
  flex-direction: row;
}

.userAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.userName {
  color: #ffffff;
  font-size: 18px;
}

.userId {
  margin-top: 20px;
  color: #ffffff;
  font-size: 15px;
}

.userDetail {
  display: flex;
  flex-direction: row;
  align-items: center;
}
