.userDetail-container {
  display: flex;
  flex-direction: column;
  background-color: #2a2f32;
  height: 100px;
  overflow: hidden;
  padding: 10px;
}

.userDetail-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.detail-icon-wrapper {
  display: flex;
  flex-direction: row;
}

.userAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.bigAvatar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.bigAvatar-actions {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.bigAvatar-actions > span {
  background-color: #077b70;
  border-radius: 10px;
  padding: 5px 15px;
  color: #fff;
  margin: 0px 30px;
}

.bigAvatar-actions > span:hover {
  background-color: #054b44;
  cursor: pointer;
}

.userAvatarBig {
  max-width: 70%;
  max-height: 70vh;
}

.userName {
  color: #ffffff;
  font-size: 18px;
}

.userId {
  color: #ffffff;
  font-size: 16px;
  margin-right: 15px;
}

.userDetail {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.copy-icon {
  width: 18px;
}

.userId-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
}

.copyIcon-wrapper {
  padding: 4px 4px 4px 6px;
}

.copyIcon-wrapper:hover {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 4px 4px 4px 6px;
  border-radius: 50%;
  cursor: pointer;
}
