.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #2a2f32;
}

/*Desktop*/
@media only screen and (min-width: 601px) {
  .start-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landing-header {
    text-align: center;
    margin: 0px;
    font-size: 40px;
    font-weight: 600;
    color: #077b70;
  }
  .google-img {
    width: 100%;
  }
  .landing-logo {
    width: 120px;
    margin-bottom: 10px;
  }
}

/*Mobile*/
@media only screen and (max-width: 600px) {
  .landing-header {
    text-align: center;
    margin: 0px;
    font-size: 26px;
    font-weight: 600;
    color: #077b70;
  }
  .google-img {
    width: 100%;
  }
  .landing-logo {
    width: 60px;
    margin-bottom: 10px;
  }
}

.start-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.google-img-wrapper {
  display: flex;
  justify-content: center;
}
