.main-container {
  display: flex;
  flex-direction: row;
}

.left-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: 320px;
  max-width: 400px;
  background-color: #131c21;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.select-container {
  width: 100%;
  height: 40px;
  background-color: #077b70;
  margin-bottom: 5px;
}

.select-buttons {
  background-color: #077b70;
  border: none;
  cursor: pointer;
  width: 50%;
  height: 40px;
  color: #013f39;
  font-size: 16px;
  font-weight: 600;
}

.select-buttons:hover {
  background-color: #013f39;
  color: #ffffff;
}
